.container {
  width: 360px;
  margin: 0px auto;
  padding: 40px 0;
  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
  h1 {
    text-align: center;
    padding: 40px 0;
  }
}
.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 80px 20px;
  background: paleturquoise;

  &__header {
    color: rgb(248, 158, 244);
    text-align: center;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.error {
  position: absolute;
  top: 10;
  right: 10;
  background: palevioletred;
  opacity: 0.9;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
  .material-icon-error:after {
    content: 'error';
    color: red;
    font-family: Material Icons;
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 24px;
    position: relative;
  }
}
